* {
  font-family: verdana;
}

body {
 background-image: url("http://www.yosemitepark.com/Images/home-img-01.jpg");
}
header{
  position: tixed;
  width: 100%;
  height: 50px;
  color: white
}
/*h1  {
  margin: 0px 50px 10px 5px;
  font-family: verdana;
  float: left;
  color: white
}*/
/*h3{
  padding-left: 10px;
  font-family: verdana;
  width: 30%;
  color: white}*/
/*p{
  color: #808080}*/
ul> li > a {
  position: relative;
  padding:0.2em 1em; /* seperates the buttons*/
  margin:0;
  display: inline;
  float:right;
  color: white;
  font-size: 20px;
  text-decoration: none;
  list-style-type:none;
  margin-top: -20px;
}
ul {
  list-style-type:none;
}
ul>li> a:hover{
background:#08c;
color:#fff;
}

article {
  text-align: center;
  padding-top: 95px;
  color: black;
  /*margin-top: -10px;
  margin-bottom: 60px;*/

}

article > a {
  color: blue;
}
/*div:hover{
background:black;*/
