* {
 color: white;
}
#header {
  font-family: verdana;
    position: relative;
    height: 80px;
    width: 100%;
    background: black;
    z-index: 100;
  color: white;
  text-decoration: none;
}
#left {
  float: left;
}
#right {
  float: right;
  padding: 10px;
  color: white;
}
nav ul {
  margin-top: 20px;
}
nav ul li {
  display: inline;
  margin: 30px;
  font-weight: bold;
  color: white;
}
a {
  color: white;
  text-decoration: none;
}


a:hover {
  color: #1A4E9C;
}
body {
  background-color:black;
}
main {
  margin-left: 50px;
  margin-right: 50px;
}
h3 {
  font-family: garamond;
  float: left;
  font-style: italic;
}
h1 {
  font-style: italic;
}
h4 {
  font-family: garamond;
 float: left;
}
p {
  font-size: 19px;
  color: white;
  font-family: garamond;
}
 section {
  color: white;
  margin-top: 50px;
 }

code {
  background-color: grey;
  color:black;
}
/*img {
  width: 600px;
  height: 500px;
}*/
