body {
 background-image: url("http://www.yosemitepark.com/Images/home-img-01.jpg");
}
h1  {
  margin: 0px 50px 10px 5px;
  font-family: verdana;
  float: left;
  color: white
}
p{
  font-family: verdana;
  color: #808080}
ul> li > a {
  position: relative;
  padding:0.2em 1em;
margin:0;
  display: inline;
  float:right;
  color: white;
  font-family: verdana;
  font-size: 20px;
  text-decoration: none;
    list-style-type:none;
}
ul {
  list-style-type:none;
}
ul>li> a:hover{
background:#08c;
color:#fff;
}

div {
  margin: auto;
  margin-top: 100px;
  border: 2px solid black;
  height: 100px;
  width: 80%;
  border-radius: 20px;
  border-color: black;
}
div:hover{
background:black;
