* {
    margin: 0px;
    padding: 0px;
    border: none;
    font-family: verdana;
    background-size: cover;
}
body {
  background-image: url("http://www.yosemitepark.com/Images/home-img-01.jpg");
}
#header {
    position: fixed;
    height: 80px;
    width: 100%;
    background: #F4F4F7;
   /* color: black;*/
    /*border-bottom-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 1px;*/
    z-index: 100;
  /*  opacity: 100;*/
  color: black;
  text-decoration: none;
}
#left {
  float: left;
}
#right {
  float: right;
  padding: 10px;
}
nav ul {
  margin-top: 20px;
}
nav ul li {
  display: inline;
  margin: 30px;
  font-weight: bold;
  color: black;
}
a {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
}

a:hover {
  color: #1A4E9C;
}

.blog {
  text-align: center;
  padding-top: 100px;
  font-size: 20px;
 /* margin-top: -60px;*/
  color: #7A7979;
}
.blog a{
  color: white;
}
.blog a:hover{
  color: #1A4E9C;
}





