 * {
    margin: 0px;
    padding: 0px;
    border: none;
    /*font-family: verdana;*/
    background-size: cover;
}
body {
  background-image: url("https://newevolutiondesigns.com/images/freebies/black-wallpaper-30.jpg");
}
#header {
    position: relative;
    height: 80px;
    width: 100%;
    font-size: 18px;
    font-family: verdana;
    /*background: #F4F4F7;*/
   /* color: black;*/
    /*border-bottom-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 1px;*/
  /*  z-index: 100;*/
  /*  opacity: 100;*/
}
#left {
  float: left;
}
li:hover {
  color: #1A4E9C;
}
#right {
  float: right;
  padding: 10px;
}
nav ul {
  margin-top: 20px;
}
nav ul li {
  display: inline;
  margin: 30px;
  font-weight: bold;
  color: white;
}
a {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
}

a:hover {
  color: #1A4E9C;
}

article {
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
  margin-top: 10px;
  color: #C5C5D4;
  font-family: verdana;
  font-weight: bold;

}
#song {
  margin-top: 30px;
text-align: center;
/*padding-top: 120px*/

}
#video {
  /*margin-top: 250px;*/
text-align: center;
margin-top: 50px;
}

/*
h1  {
  margin: 0px 50px 10px 5px;
  font-family: verdana;
  float: left;
  color: white
}
header {
background-color: #730504;
}*/
/*h3{
  padding-left: 10px;
  font-family: verdana;
  width: 30%;
  color: white}
ul> li > a {
  padding-top: 5px;
  position: relative;
  padding:0.2em 1em;
  margin:0;
  display: inline-block;
  float:right;
  color: white;
  font-family: verdana;
  font-size: 20px;
  text-decoration: none;
  list-style-type:none;
}
ul {
  list-style-type:none;
}
ul>li> a:hover{
background:#08c;
color:#fff;
}
*/
/*div {
  margin: auto;
  margin-top: 100px;
  border: 2px solid black;
  height: 300px;
  width: 80%;
  border-radius: 20px;
  border-color: black;
  text-align: center;
  font-size: 30px;
}*/
/*a href {
  margin-top: 10px;
}*/
/*div:hover{
background:black;
}*/
